* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
	background: #f5f5f5;
}

.form-container {
	max-width: 400px;

	margin: 3rem auto;
	padding: 20px;
	background-color: #f2f2f2;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form inputs */
.form-input {
	margin-bottom: 15px;
}

.form-input label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

.form-input input[type='number'] {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 16px;
}

/* Submit button */
.form-submit {
	text-align: center;
}

.form-submit input[type='button'] {
	padding: 10px 20px;
	background-color: #4caf50;
	color: white;
	border: none;
	border-radius: 3px;
	font-size: 16px;
	cursor: pointer;
}

.form-submit input[type='button']:hover {
	background-color: #45a049;
}
